body {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  min-height: 100vh;
  margin: 0;
  font-family: "Ropa Sans", sans-serif;
}

container {
  /* grid-column: 2 /3; */
  grid-row: 1 / 4;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
}
header {
  display: grid;
  background-color: #09c1a0;
  color: white;
  /* grid-column: 2; */
  grid-row: 1;
}
header p {
  align-self: flex-end;
  justify-self: flex-end;
  grid-row: 1;
  margin: 0;
  font-size: 15px;
  padding-right: 1vw;
  font-size: 30px;
}

header h1 {
  /* grid-column: 2  ; */
  grid-row: 1;
  font-size: 50px;
  align-self: center;
  justify-self: flex-start;
  margin: 0;
  padding: 0;
  margin-left: 1vw;
}

.connect {
  background-color: white !important;
}

#messages {
  /* grid-column: 2; */
  grid-row: 2;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.54);
  overflow: auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-column: 2; */
  grid-row: 3;
}

input {
  background-color: #f5f1f1;
  border-radius: 15px;
  padding: 20px 20px;
  border: none;
  width: 50vw;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.54);
}

input:focus {
  outline: none;
}
button:focus {
  outline: none;
}

button {
  display: flex;
  flex-direction: row;
  background-color: #09c1a0;
  border-radius: 15px;
  border: none;
  width: 90px;
  height: 50px;
  color: white;
  font-size: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  transition: background-color 1s ease-out;
}
button:hover {
  background-color: rgb(8, 134, 111);
  cursor: pointer;
}

.sendingImg {
  height: 40%;
  width: 40%;
  margin-top: 2%;
}

button p {
  margin: 0;
  padding: 0;
}

#messages p {
  font-size: 17px;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

#messages div {
  background-color: #f5f1f1;
  margin-right: 0;
  border: none;
  border-radius: 15px;
  padding: 15px 20px;
  max-width: 80vw;
  width: fit-content;
  margin-top: 1vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.clickMe {
  background-color: #09c1a0 !important;
}

.clickMe a {
  text-decoration: none !important;
  color: white !important;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  body {
    grid-template-columns: 15vw 70vw 15vw;
  }
  container {
    grid-column: 2/3;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
  }

  #messages div {
    max-width: 50vw;
  }
}
