* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
}
header {
  width: 100%;
  background-color: #09C1A0;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
}
header h1 {
  font-weight: 75px;
  font-family: 'Roboto', sans-serif;
}

form {
  padding: 2px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}
form input {
  border: 0;
  padding: 20px;
  width:75%;
  margin-right: 2%;
  margin-left: 4%;
  background-color:#F5F1F1;
  border-radius: 15px;
  margin-bottom: 3%;
}
form input:focus{
  outline: none;
}
form button {
  position: absolute;
  top: 3%;
  width: 60px;
  height: 60px;
  background-color: #09C1A0;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 50%;
  
}
form button:focus {
  outline: none;
}


form button:active {
  background-color: rgb(6, 141, 116);
}

.sendingImg {
  width: auto;
  height: auto;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  margin-top: 2%;
  padding: 15px 20px;
  background-color: #F5F1F1;
  border-radius: 15px;
  width: auto;
  margin-left: 4%;
}

