

body {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 80% auto;
  min-height: 100vh;
  margin: 0;
  font-family: 'Ropa Sans', sans-serif;

}

header {
  background-color:#09C1A0;
  color: white;
  grid-column: 2;
  grid-row: 1;
}


header h1 {
  margin-left: 20px;
  grid-column: 2  ;
  grid-row: 1;
  font-size: 50px;
 
}

#messages {
  grid-column: 2;
  grid-row: 2;
  margin-top:20px;
  color:rgba(0, 0, 0, 0.54);

}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 3;
  
}

input {
  background-color:#F5F1F1;
  border-radius: 15px;
  padding: 20px 20px;
  border:none;
  width: 50vw;
  font-size: 17px;
  color:rgba(0, 0, 0, 0.54);

}

input:focus{
  outline: none;

}

button {
  background-color:#09C1A0;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;

}

#messages p {
  background-color: #F5F1F1;
  border: none;
  border-radius: 15px;
  padding: 20px 20px;
  font-size: 17px;
  width: 50vw;

}